<!doctype html>
<html>
        <head>
                <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              </head>
    <body>            
        <form action = "/action" method="POST">
            {% for key,value in tasks.items() %}  
            {%  if key == 'Items' %}       
            {%  for item in value %}       
            <div class="card">
                <div class="container">
               <input type="text" name="_id" value="{{ item['_id'] }}" placeholder="{{ item['_id'] }}" >
               <input type="text" name="id" value="{{ item['ID'] }}" placeholder="{{ item['ID'] }}" >
               <input type="text" name="name" value="{{ item['NAME1'] }}" placeholder="{{ item['NAME'] }}" >
               <input type="text" name="email" value="{{ item['EMAIL'] }}" placeholder="{{ item['EMAIL']}}">
               <input type="text" name="contactno" value="{{ item['CONTACTNO']}}" placeholder="{{ item['CONTACTNO']}}">
            </div>
            </div>   
            {% endfor %}
            {% endif %}
            {% endfor %} 
            <button type="submit"> Update Task </button>
        </form>

    </body>

</html>